


<div class="container">
  <div class="row">
    <div class="col">
      {{compteur.donner()}}
      <app-bouton-test></app-bouton-test>
      <app-bouton-test></app-bouton-test>
      <app-bouton-test></app-bouton-test>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <ol>
        <li [ngClass]="{selected : p==personne}" (click)="select(p)" *ngFor="let p of personnes" >{{p.prenom}} {{p.nom}}</li>   
      </ol>
    </div>
  </div> 
  <div class="row">
    <div class="col">
      <h1>{{titre}} {{personne.prenom}} {{personne.nom}}</h1>
    </div>
  </div> 
  <div class="row">
    <div class="col"><h2>Identité</h2></div>
  </div>
  <div class="row">
    <div class="col-md-6"><b>Nom :</b> {{personne.nom}}</div>
    <div class="col-md-6"><b>Prénom :</b> {{personne.prenom}}</div>
  </div>
  <div class="row">
    <div class="col"><h2>Découverte Majeure</h2></div>
  </div>
  <div class="row">
    <div class="col-12"><b>Découverte :</b> {{personne.decouverte}}</div>
    <div class="col-12"><b>Description :</b> {{personne.description}}</div>
  </div>
  <div class="row">
    <div class="col"><h2>Modification</h2></div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <b>Nom : </b> 
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="personne.nom" />
        <p *ngIf="!personne.nom" >Attention le nom est vide</p>
        <p *ngIf="personne.nom=='Guillaume'" >Attention le nom est trop beau</p>
    </div>
    <div class="col-md-3">
      <b>Prenom : </b> 
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="personne.prenom" />
    </div>
    <div class="col-md-3">
      <b>Découverte : </b> 
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="personne.decouverte" />
    </div>
    <div class="col-12">
      <b>Description : </b> 
    </div>
    <div class="col-12">
        <textarea [(ngModel)]="personne.description" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col"><h2>Test</h2></div>
  </div>
  <div class="row">
    <div class="col-md-3">
         <input type="checkbox" [(ngModel)]="toto" />
         {{toto}}
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="ville" >
          <option value="Sete">Sète</option>
          <option value="Lyon">Lyon</option>
          <option value="Paris">Paris</option>
      </select>
      {{ville}}
    </div>
    <div class="col-md-3">
        <span [ngClass]="{active : ville=='Sete'}">La ville sélectionnée est cool</span>
        <span [ngClass]="{active : estCool()}">La ville sélectionnée est cool</span>
    </div>
    
  </div>
</div>


