

<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{titre}} {{personne.prenom}} {{personne.nom}}</h1>
    </div>
  </div> <div class="row">
    <div class="col"><h2>Identité</h2></div>
  </div>
  <div class="row">
    <div class="col-md-6"><b>Nom :</b> {{personne.nom}}</div>
    <div class="col-md-6"><b>Prénom :</b> {{personne.prenom}}</div>
  </div>
  <div class="row">
    <div class="col"><h2>Découverte Majeure</h2></div>
  </div>
  <div class="row">
    <div class="col-12"><b>Découverte :</b> {{personne.decouverte}}</div>
    <div class="col-12"><b>Description :</b> {{personne.description}}</div>
  </div>
</div>


