<div class="container">
  <div class="row">
    <div class="col">
      <form #f="ngForm" action="" (ngSubmit)="valide(f.value)">
        <input type="text" name="nom" placeholder="nom" ngModel>
        <input type="text" name="prenom" placeholder="prenom" ngModel>
        <input type="submit" />
      </form>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="monFormulaire" action="" (ngSubmit)="valide2()">
        <input type="text" name="nom" placeholder="nom" 
        [formControl]="monFormulaire.controls['nom']">
        <input type="text" name="prenom" placeholder="prenom" 
        [formControl]="monFormulaire.controls['prenom']">
        <input type="submit" />
      </form>
  </div>
</div>
